In [1]:
%pip install pandas

Requirement already satisfied: pandas in /home/ptsgrn/chula/sci-smo/freshmen68/.venv/lib64/python3.13/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /home/ptsgrn/chula/sci-smo/freshmen68/.venv/lib64/python3.13/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ptsgrn/chula/sci-smo/freshmen68/.venv/lib64/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/ptsgrn/chula/sci-smo/freshmen68/.venv/lib64/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/ptsgrn/chula/sci-smo/freshmen68/.venv/lib64/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/ptsgrn/chula/sci-smo/freshmen68/.venv/lib64/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [15]:
GROUP_QUOTA = int((1070 / 6)) # 6 groups, 1070 students
GROUPS = ["1", "3", "4", "5", "6", "7"]

print(f"Quota per group: {GROUP_QUOTA}")
print(f"Groups: {GROUPS}")

Quota per group: 178
Groups: ['1', '3', '4', '5', '6', '7']

In [16]:
df = pd.read_csv("../data/team_processed.csv")

In [17]:
df

                                       id   group_pref  member_count
0    ec3766c1-b3ee-4873-9048-b7f7fa17ceba  6,1,3,5,7,4             2
1    738b973c-4cbf-4125-b50e-bcc98f89f77a  6,1,3,7,4,5             2
2    a394c8ef-98d7-49b5-beb3-652b08cd6482  4,3,6,7,1,5             1
3    3620b751-1dcc-4305-8871-b897947ba300  3,4,7,1,6,5             1
4    5602bd74-811a-4e99-9708-179254d9f090  3,6,7,1,4,5             2
..                                    ...          ...           ...
648  959f881a-310f-4e23-b715-1cef16e97869  3,4,1,5,7,6             1
649  b7edde69-726b-4e09-a6c3-9d9b95fd9b4a  6,5,7,1,3,4             1
650  77b3a72b-fd79-4d5b-9537-2ad7df143cbd  4,6,3,1,7,5             1
651  1abaf1d3-b2df-46eb-8ed2-652e98151862  4,1,6,3,7,5             1
652  a110e189-88aa-44ce-866e-3e87b9b1e61c  4,3,5,6,1,7             1

[653 rows x 3 columns]

In [18]:
# split col group_pref in to multiple columns where each column is a group order and value is the group number
df_group_pref = df["group_pref"].str.split(",", expand=True)
df_group_pref.columns = [f"group_order_{i+1}" for i in range(df_group_pref.shape[1])]
df = df.join(df_group_pref)
# add blank columns result
df["result"] = None
df

,id,group_pref,member_count,group_order_1,group_order_2,group_order_3,group_order_4,group_order_5,group_order_6,result
0,ec3766c1-b3ee-4873-9048-b7f7fa17ceba,"6,1,3,5,7,4",2,6,1,3,5,7,4,None
1,738b973c-4cbf-4125-b50e-bcc98f89f77a,"6,1,3,7,4,5",2,6,1,3,7,4,5,None
2,a394c8ef-98d7-49b5-beb3-652b08cd6482,"4,3,6,7,1,5",1,4,3,6,7,1,5,None
3,3620b751-1dcc-4305-8871-b897947ba300,"3,4,7,1,6,5",1,3,4,7,1,6,5,None
4,5602bd74-811a-4e99-9708-179254d9f090,"3,6,7,1,4,5",2,3,6,7,1,4,5,None
...,...,...,...,...,...,...,...,...,...,...
648,959f881a-310f-4e23-b715-1cef16e97869,"3,4,1,5,7,6",1,3,4,1,5,7,6,None
649,b7edde69-726b-4e09-a6c3-9d9b95fd9b4a,"6,5,7,1,3,4",1,6,5,7,1,3,4,None
650,77b3a72b-fd79-4d5b-9537-2ad7df143cbd,"4,6,3,1,7,5",1,4,6,3,1,7,5,None
651,1abaf1d3-b2df-46eb-8ed2-652e98151862,"4,1,6,3,7,5",1,4,1,6,3,7,5,None
652,a110e189-88aa-44ce-866e-3e87b9b1e61c,"4,3,5,6,1,7",1,4,3,5,6,1,7,None

## รอบที่ 1

In [19]:
for group in GROUPS:
    print(f"Group {group} has {df[df['group_order_1'] == group].shape[0]} teams in first order, total students: {df[df['group_order_1'] == group]['member_count'].sum()}")

Group 1 has 43 teams in first order, total students: 74
Group 3 has 131 teams in first order, total students: 216
Group 4 has 143 teams in first order, total students: 226
Group 5 has 41 teams in first order, total students: 55
Group 6 has 196 teams in first order, total students: 333
Group 7 has 99 teams in first order, total students: 166

In [20]:
# สำหรับแต่ละกรุ๊ป ทีมไหนที่มีคนเลือกอันดับ 1 แล้วไม่เกินโควต้า ก็ให้ไปเลย
for group in GROUPS:
  student_preferred_sum = df[df["group_order_1"] == group]["member_count"].sum()
  if student_preferred_sum <= GROUP_QUOTA:
    df.loc[df["group_order_1"] == group, "result"] = group
    print(f"Group {group} has {student_preferred_sum} students, assigned all to group {group}")
  else:
    print(f"Group {group} has {student_preferred_sum} students, not enough quota, randomly selecting teams to assign to group {group}")
    current_students_count = df[df["result"] == group]["member_count"].sum()
    df_teams_with_group_first_order = df[df["group_order_1"] == group]
    # shffle row order
    df_teams_with_group_first_order = df_teams_with_group_first_order.sample(frac=1)
    for index, row in df_teams_with_group_first_order.iterrows():
      if current_students_count <= GROUP_QUOTA:
        df.at[index, "result"] = group
        current_students_count += row["member_count"]
        print(
            f"Assigning team {index}:{row['id']} ({row['member_count']} pp) to group {group}, current count: {current_students_count}, quota left: {GROUP_QUOTA - current_students_count}")
      else:
        print(f"Group {group} has reached quota, stop assigning")
        break
      
# Check if there are any students left unassigned
unassigned_teams = df[df["result"].isnull()]
if not unassigned_teams.empty:
    print(f"There are {unassigned_teams.shape[0]} teams left unassigned.")
else:
    print("All teams have been assigned to groups.")
  
for group in GROUPS:
    print(f"Group {group} has {df[df['result'] == group].shape[0]} teams assigned, total students: {df[df['result'] == group]['member_count'].sum()}")  
df

Group 1 has 74 students, assigned all to group 1
Group 3 has 216 students, not enough quota, randomly selecting teams to assign to group 3
Assigning team 124:278ba432-a8a4-4256-9d78-514132f4012e (2 pp) to group 3, current count: 2, quota left: 176
Assigning team 625:08c7ace3-4eac-4e00-934e-6cd56b93cc9b (1 pp) to group 3, current count: 3, quota left: 175
Assigning team 190:cfe77fc9-879f-4d4b-a498-0a81cad4cf9a (3 pp) to group 3, current count: 6, quota left: 172
Assigning team 483:99d7a98d-9258-4e06-a0dc-45ea8a3304a3 (1 pp) to group 3, current count: 7, quota left: 171
Assigning team 323:77a63c9e-904b-42f0-91a2-a1b6e8be13d7 (1 pp) to group 3, current count: 8, quota left: 170
Assigning team 54:bc506bca-ebc2-4367-9719-3bf6439a56b8 (3 pp) to group 3, current count: 11, quota left: 167
Assigning team 241:60b5a06a-d98a-49d7-bf5a-a85ef31fdef5 (1 pp) to group 3, current count: 12, quota left: 166
Assigning team 378:6aa15d87-9ec6-4426-8676-0757f1aa05fb (3 pp) to group 3, current count: 15, quota left: 163
Assigning team 353:6d2c52a8-58f5-4c56-878a-0e87aa55c549 (3 pp) to group 3, current count: 18, quota left: 160
Assigning team 234:ef87ec43-0465-4ed6-ab84-88abb6c3a50f (1 pp) to group 3, current count: 19, quota left: 159
Assigning team 397:f843c7f4-4896-4d63-b799-389232f0c3c1 (1 pp) to group 3, current count: 20, quota left: 158
Assigning team 648:959f881a-310f-4e23-b715-1cef16e97869 (1 pp) to group 3, current count: 21, quota left: 157
Assigning team 510:8e6cc639-4735-4b22-a03e-aa85f354d38d (1 pp) to group 3, current count: 22, quota left: 156
Assigning team 132:7e5d8bf9-cf07-47e3-a978-7b8d212e78b2 (1 pp) to group 3, current count: 23, quota left: 155
Assigning team 612:6ac927f5-14c3-4d42-901c-b5b7dcb549b2 (1 pp) to group 3, current count: 24, quota left: 154
Assigning team 570:13f60b42-2bee-4f32-9b78-8a73e5ac5353 (1 pp) to group 3, current count: 25, quota left: 153
Assigning team 7:ff3810e2-000d-4253-8d1e-3ad7dfc805e7 (3 pp) to group 3, current count: 28, quota left: 150
Assigning team 312:d29815da-f7a9-4a58-ac6b-8b01e87a1baa (1 pp) to group 3, current count: 29, quota left: 149
Assigning team 540:f3eff215-d4f7-4991-ba95-927cadd58148 (1 pp) to group 3, current count: 30, quota left: 148
Assigning team 550:c457f4ab-4c4c-469e-bba9-84feebe4afc6 (3 pp) to group 3, current count: 33, quota left: 145
Assigning team 138:b6561e91-402a-46a5-9443-dd733e699a99 (2 pp) to group 3, current count: 35, quota left: 143
Assigning team 21:f4100eed-5923-4e3c-ae1c-45b055471dd6 (1 pp) to group 3, current count: 36, quota left: 142
Assigning team 628:cedb97fe-668c-4bd3-98a0-7f39e60c5821 (1 pp) to group 3, current count: 37, quota left: 141
Assigning team 84:f0e46f2b-13f1-4601-964d-5e1962a6bfa2 (3 pp) to group 3, current count: 40, quota left: 138
Assigning team 482:e797386e-ccc3-43e1-8bb4-fc31ebce1938 (3 pp) to group 3, current count: 43, quota left: 135
Assigning team 372:3ec06c50-ae09-4cbe-80b6-498e5f2731a9 (1 pp) to group 3, current count: 44, quota left: 134
Assigning team 554:e60f458f-e8e2-44fa-88ff-1dce74ef8823 (1 pp) to group 3, current count: 45, quota left: 133
Assigning team 35:4488e035-4a8b-46ce-8b62-c590716e0029 (3 pp) to group 3, current count: 48, quota left: 130
Assigning team 281:12c3fe41-5e69-4a03-bc2d-36e8fed24f7c (1 pp) to group 3, current count: 49, quota left: 129
Assigning team 611:07e697d4-1943-4ea7-a802-4ba535178ff3 (1 pp) to group 3, current count: 50, quota left: 128
Assigning team 336:02f9606b-ab8b-44b0-a1f0-52ed33c8b15c (3 pp) to group 3, current count: 53, quota left: 125
Assigning team 505:c2703876-6464-4daa-9b2e-b9098e06f2ea (2 pp) to group 3, current count: 55, quota left: 123
Assigning team 219:71d6289a-fa35-445f-815a-bf539c9da41e (1 pp) to group 3, current count: 56, quota left: 122
Assigning team 604:571ba3e1-87ca-46ed-9c86-39cc319133de (2 pp) to group 3, current count: 58, quota left: 120
Assigning team 135:ea239326-8702-430f-b67a-2e2f6c4b1248 (3 pp) to group 3, current count: 61, quota left: 117
Assigning team 19:c17c307d-7f4e-49be-9f86-91421ee011e7 (3 pp) to group 3, current count: 64, quota left: 114
Assigning team 647:b937d1a5-6aea-40b2-a226-11f3e866a68d (1 pp) to group 3, current count: 65, quota left: 113
Assigning team 582:2aca9a73-b2ae-49f5-a053-e01e7d9c7048 (1 pp) to group 3, current count: 66, quota left: 112
Assigning team 373:91877d9b-99d7-41dc-99d9-14ef85a2b653 (3 pp) to group 3, current count: 69, quota left: 109
Assigning team 176:f35a5636-3304-4816-b20c-6d9f0fcf08bc (3 pp) to group 3, current count: 72, quota left: 106
Assigning team 642:bd219e73-8d0f-4ed2-bbe7-dd3f2c2d440f (1 pp) to group 3, current count: 73, quota left: 105
Assigning team 562:e84a6e7b-807d-42d9-a875-85cfe6acb1ac (2 pp) to group 3, current count: 75, quota left: 103
Assigning team 377:f1f8153e-371b-4c48-9c73-596b14150e39 (2 pp) to group 3, current count: 77, quota left: 101
Assigning team 285:351823f8-5788-4f72-86f4-09995e979084 (3 pp) to group 3, current count: 80, quota left: 98
Assigning team 110:1c23bdfd-cda8-4428-98c8-9a934cd3fab1 (3 pp) to group 3, current count: 83, quota left: 95
Assigning team 371:9ba8c072-f68a-47d7-8c18-1fd56bd04c80 (2 pp) to group 3, current count: 85, quota left: 93
Assigning team 119:4a4aadcd-51ba-4fd0-b052-6fc1841d55d9 (1 pp) to group 3, current count: 86, quota left: 92
Assigning team 27:eaf03c8d-457f-4f99-b7e5-48fb74693cce (1 pp) to group 3, current count: 87, quota left: 91
Assigning team 3:3620b751-1dcc-4305-8871-b897947ba300 (1 pp) to group 3, current count: 88, quota left: 90
Assigning team 621:974586d0-7f0d-4eb1-ba1b-469ef607d068 (1 pp) to group 3, current count: 89, quota left: 89
Assigning team 315:b632eb79-aa2a-4e99-b149-4809357e9ef1 (1 pp) to group 3, current count: 90, quota left: 88
Assigning team 250:a3935965-7935-4d51-b8cc-99f06b358772 (3 pp) to group 3, current count: 93, quota left: 85
Assigning team 300:9085b0e7-fc86-4a42-a622-734ad222242e (1 pp) to group 3, current count: 94, quota left: 84
Assigning team 83:cc68cedf-8562-4660-bb31-767a0fb504cb (1 pp) to group 3, current count: 95, quota left: 83
Assigning team 274:fcfddabb-4b8c-4c62-abf8-7f64b75455a1 (1 pp) to group 3, current count: 96, quota left: 82
Assigning team 607:8aa858ed-656c-4a70-ab62-9702444989e2 (1 pp) to group 3, current count: 97, quota left: 81
Assigning team 609:e0c4195f-558c-43d7-9b74-888c4041663d (1 pp) to group 3, current count: 98, quota left: 80
Assigning team 425:a33b13ce-5ff4-4d4e-a481-974a33e213a1 (1 pp) to group 3, current count: 99, quota left: 79
Assigning team 542:d662c6d2-2e69-43eb-8495-22e0351bdf7b (1 pp) to group 3, current count: 100, quota left: 78
Assigning team 344:80ef012d-7be0-4b23-9aba-53198a779e9a (1 pp) to group 3, current count: 101, quota left: 77
Assigning team 59:61e15f00-cf02-4efe-adcd-bb0b01a9556a (1 pp) to group 3, current count: 102, quota left: 76
Assigning team 45:daf65db8-12ce-498c-ad4b-a5aaf660ac1b (1 pp) to group 3, current count: 103, quota left: 75
Assigning team 28:038a6ae7-b2ea-4978-bbe5-5d2982bc4bb6 (3 pp) to group 3, current count: 106, quota left: 72
Assigning team 121:cfce939f-22ca-4654-abaa-994a26f8f669 (3 pp) to group 3, current count: 109, quota left: 69
Assigning team 80:aaa81855-10d3-4bc2-95e8-caf5f5fd95c7 (3 pp) to group 3, current count: 112, quota left: 66
Assigning team 74:2b445ae4-149f-472d-97d5-a31d4e795351 (1 pp) to group 3, current count: 113, quota left: 65
Assigning team 4:5602bd74-811a-4e99-9708-179254d9f090 (2 pp) to group 3, current count: 115, quota left: 63
Assigning team 334:989a97ab-e0fa-4023-9a38-2078f55514a9 (1 pp) to group 3, current count: 116, quota left: 62
Assigning team 202:0e50e7ed-de44-4b1d-8740-b6dc986c9066 (1 pp) to group 3, current count: 117, quota left: 61
Assigning team 41:995e59ca-a513-411f-b524-a9360d30a7df (1 pp) to group 3, current count: 118, quota left: 60
Assigning team 426:3c100591-63cd-4f79-8d94-fb40543c2c6b (1 pp) to group 3, current count: 119, quota left: 59
Assigning team 90:d0f2b01d-eacc-42b3-9301-08d1dbc3383c (3 pp) to group 3, current count: 122, quota left: 56
Assigning team 293:5b353ac3-2b4b-4811-944c-0014fe8742e1 (3 pp) to group 3, current count: 125, quota left: 53
Assigning team 64:65d0aeee-abc4-486b-81f4-bb1018878688 (1 pp) to group 3, current count: 126, quota left: 52
Assigning team 447:88217cd1-b503-42be-8e5b-40568f227946 (1 pp) to group 3, current count: 127, quota left: 51
Assigning team 170:c55f42d4-d08a-4450-b7aa-14481e64b1b4 (1 pp) to group 3, current count: 128, quota left: 50
Assigning team 191:35668288-8558-4a6d-96b6-945f2ee209a2 (1 pp) to group 3, current count: 129, quota left: 49
Assigning team 571:da9cb16e-456a-485e-8314-d7ede92d0232 (1 pp) to group 3, current count: 130, quota left: 48
Assigning team 157:589bb989-db68-42e1-99f1-68086a29d77e (1 pp) to group 3, current count: 131, quota left: 47
Assigning team 245:20f8faf9-91c1-4381-8e2a-455aeecab4ee (1 pp) to group 3, current count: 132, quota left: 46
Assigning team 339:d2788ad1-5acc-494e-a81a-55284ad2ea59 (1 pp) to group 3, current count: 133, quota left: 45
Assigning team 16:b32e3009-f7d5-454a-8137-9af13b18c701 (2 pp) to group 3, current count: 135, quota left: 43
Assigning team 206:77442d08-cacf-49a3-8699-301bb40b1ff0 (1 pp) to group 3, current count: 136, quota left: 42
Assigning team 123:1c4a0c4d-09ba-4883-be9a-fae571a3ec4e (2 pp) to group 3, current count: 138, quota left: 40
Assigning team 322:b684afaa-5d4f-42d7-9bac-15f31f65804c (2 pp) to group 3, current count: 140, quota left: 38
Assigning team 223:9d66771e-3606-4b11-9f75-d73f4e8fa2f8 (2 pp) to group 3, current count: 142, quota left: 36
Assigning team 263:84eaf7d9-7112-46ee-8cac-142825d1999f (3 pp) to group 3, current count: 145, quota left: 33
Assigning team 305:8ff43771-a5e2-41c1-ba13-364d661652d2 (3 pp) to group 3, current count: 148, quota left: 30
Assigning team 544:9041d75d-dec6-46f2-98e1-07a1be773347 (1 pp) to group 3, current count: 149, quota left: 29
Assigning team 521:f3f38b46-952d-4cba-9841-b83f682e8374 (1 pp) to group 3, current count: 150, quota left: 28
Assigning team 264:13333fb2-9e19-4047-a583-faa47f7e3780 (1 pp) to group 3, current count: 151, quota left: 27
Assigning team 342:f6d623f0-a37f-4c8c-ab26-89dec619768c (3 pp) to group 3, current count: 154, quota left: 24
Assigning team 370:ef3e2c9d-afda-490e-8907-5b293bba3256 (3 pp) to group 3, current count: 157, quota left: 21
Assigning team 163:bc0c3af9-8596-4b41-be94-11d5b2ab3c9f (1 pp) to group 3, current count: 158, quota left: 20
Assigning team 29:608bd564-2661-4243-866b-ec040c81fea5 (2 pp) to group 3, current count: 160, quota left: 18
Assigning team 401:9f7eb251-88c6-4594-9b70-82f964799240 (1 pp) to group 3, current count: 161, quota left: 17
Assigning team 419:3f6a8cf2-e05d-4989-9a6a-acfc750fb5ee (2 pp) to group 3, current count: 163, quota left: 15
Assigning team 6:3b8eb084-1796-4a84-a9d7-fa58c39f0bff (3 pp) to group 3, current count: 166, quota left: 12
Assigning team 298:3ef3ff4a-257e-4eb1-9427-90a08e0aa588 (3 pp) to group 3, current count: 169, quota left: 9
Assigning team 551:683209b1-6bca-4db4-bb43-f434bdab546e (1 pp) to group 3, current count: 170, quota left: 8
Assigning team 602:90cb447b-4166-4d0f-bb1d-ce92e3eded4d (2 pp) to group 3, current count: 172, quota left: 6
Assigning team 350:f06522b7-b42d-4047-9f00-daffecb691e5 (1 pp) to group 3, current count: 173, quota left: 5
Assigning team 584:1a215e02-f28b-4019-825b-a722d49a4cf4 (1 pp) to group 3, current count: 174, quota left: 4
Assigning team 105:1ab506d8-05a4-4432-a650-687865a99582 (2 pp) to group 3, current count: 176, quota left: 2
Assigning team 112:6e4dcace-86fc-4239-86df-9d47e32b9822 (3 pp) to group 3, current count: 179, quota left: -1
Group 3 has reached quota, stop assigning
Group 4 has 226 students, not enough quota, randomly selecting teams to assign to group 4
Assigning team 387:9262310a-02c5-4107-8381-82692d1630e9 (3 pp) to group 4, current count: 3, quota left: 175
Assigning team 265:ea9512df-ffa0-42fd-9641-792a9cfd8e5d (3 pp) to group 4, current count: 6, quota left: 172
Assigning team 53:7924c39f-ea07-4c33-b040-3619c832df8a (2 pp) to group 4, current count: 8, quota left: 170
Assigning team 470:bdceede7-331a-4892-af19-2ad91fd7e2f6 (2 pp) to group 4, current count: 10, quota left: 168
Assigning team 610:9a7498f6-699e-48f6-b60a-cb210a164542 (1 pp) to group 4, current count: 11, quota left: 167
Assigning team 243:002a9baf-d299-4698-b053-88d7feefee18 (3 pp) to group 4, current count: 14, quota left: 164
Assigning team 365:3202f977-7ee2-4df4-a2db-8f43b51f9d80 (1 pp) to group 4, current count: 15, quota left: 163
Assigning team 150:6d1f8b04-3e03-44fe-aec4-41034d147873 (2 pp) to group 4, current count: 17, quota left: 161
Assigning team 104:bedfccfc-ae94-420b-91ad-dd8314048d6d (1 pp) to group 4, current count: 18, quota left: 160
Assigning team 403:13614f1c-3032-46a5-bc8a-d2d6362c4a2f (1 pp) to group 4, current count: 19, quota left: 159
Assigning team 153:0abcd519-98cc-4bc3-b859-1655001b1f72 (2 pp) to group 4, current count: 21, quota left: 157
Assigning team 159:00598896-7857-42fd-be8d-4082e1c21f0e (2 pp) to group 4, current count: 23, quota left: 155
Assigning team 226:35806a4e-3672-4c6f-a745-ab66ce4fe76c (3 pp) to group 4, current count: 26, quota left: 152
Assigning team 290:b66fd81f-90f1-486c-bc3d-ba0702ba62ed (1 pp) to group 4, current count: 27, quota left: 151
Assigning team 306:7bc12f1c-4b46-4b9b-90f4-d95a166a9638 (1 pp) to group 4, current count: 28, quota left: 150
Assigning team 635:a7da6a30-8ab1-49af-9e06-e33b207f2093 (1 pp) to group 4, current count: 29, quota left: 149
Assigning team 405:0cc06f79-1edd-4dc0-af63-9904bc8e19e2 (1 pp) to group 4, current count: 30, quota left: 148
Assigning team 421:8c129e68-d2a8-42bc-9de1-3a07758ca8e9 (3 pp) to group 4, current count: 33, quota left: 145
Assigning team 230:83478150-5988-4a2b-af9b-3e9a5f689977 (3 pp) to group 4, current count: 36, quota left: 142
Assigning team 148:90dc4edc-5d36-4c4a-9040-ce39c56662f4 (1 pp) to group 4, current count: 37, quota left: 141
Assigning team 492:42bf4986-efc8-41e6-9c1f-c11fa75aacc8 (3 pp) to group 4, current count: 40, quota left: 138
Assigning team 412:96ca01ac-6e92-4dd3-bb73-8b642fef2b7e (1 pp) to group 4, current count: 41, quota left: 137
Assigning team 309:06d1a495-52bc-4e22-8e0e-a593b43bf10d (1 pp) to group 4, current count: 42, quota left: 136
Assigning team 643:e3ecb448-8fee-498d-9b65-00767d50832f (2 pp) to group 4, current count: 44, quota left: 134
Assigning team 528:44349f04-8d59-4f31-b58d-dd780cfae0cb (1 pp) to group 4, current count: 45, quota left: 133
Assigning team 630:25e54e92-2068-4e58-b1bf-3d163275c26c (1 pp) to group 4, current count: 46, quota left: 132
Assigning team 320:bcfd5235-107b-478a-aead-00981c804514 (1 pp) to group 4, current count: 47, quota left: 131
Assigning team 165:9398bd15-003e-4ca1-bca8-9990ad6ed15a (1 pp) to group 4, current count: 48, quota left: 130
Assigning team 273:8aaf0e83-b5e8-4d09-8fc4-3f6cf32d35c0 (2 pp) to group 4, current count: 50, quota left: 128
Assigning team 443:45700bdc-d281-494a-9df8-fe1e57437373 (1 pp) to group 4, current count: 51, quota left: 127
Assigning team 22:d06d1f34-760f-44d7-968d-a910e755c497 (1 pp) to group 4, current count: 52, quota left: 126
Assigning team 464:d24aac0b-2a86-45ec-99a2-3b14ed13aaa7 (1 pp) to group 4, current count: 53, quota left: 125
Assigning team 457:e79018e0-fab2-49c7-8b4d-090fa436ad75 (2 pp) to group 4, current count: 55, quota left: 123
Assigning team 461:6bbb95ed-ede8-423f-97a1-0305b8a8c021 (2 pp) to group 4, current count: 57, quota left: 121
Assigning team 359:64470f06-3940-4ebf-996c-1599ea4d04d7 (2 pp) to group 4, current count: 59, quota left: 119
Assigning team 180:9ff83229-8722-4df1-b2c3-39cb04b896b2 (2 pp) to group 4, current count: 61, quota left: 117
Assigning team 268:25c9b08f-92d6-48de-b758-ed14ff155336 (3 pp) to group 4, current count: 64, quota left: 114
Assigning team 75:a4b31cf3-29a7-4b35-8a3a-223d16229c76 (2 pp) to group 4, current count: 66, quota left: 112
Assigning team 382:32af8a37-2e2d-4358-b0bd-0976551a8322 (1 pp) to group 4, current count: 67, quota left: 111
Assigning team 471:5cc9e68b-0921-4421-8d6f-55c39f8590a3 (1 pp) to group 4, current count: 68, quota left: 110
Assigning team 632:2b6a33ef-beac-427c-9fb6-61626efc325f (1 pp) to group 4, current count: 69, quota left: 109
Assigning team 533:12b3bd28-ab39-4363-9eb0-0076b85820bd (3 pp) to group 4, current count: 72, quota left: 106
Assigning team 204:6ac4e2e0-b967-4af5-a261-f5cb075eb60a (1 pp) to group 4, current count: 73, quota left: 105
Assigning team 162:d1d810ee-134e-43a9-ac09-2e156b3ac08f (1 pp) to group 4, current count: 74, quota left: 104
Assigning team 2:a394c8ef-98d7-49b5-beb3-652b08cd6482 (1 pp) to group 4, current count: 75, quota left: 103
Assigning team 233:84d28a7c-04d1-49fc-8967-a224e528aff3 (1 pp) to group 4, current count: 76, quota left: 102
Assigning team 545:94ea6164-fcfe-4b9f-a8d3-0e55229a47d9 (1 pp) to group 4, current count: 77, quota left: 101
Assigning team 113:8e5ffb2b-b5c1-4a5d-8732-a894dae99203 (3 pp) to group 4, current count: 80, quota left: 98
Assigning team 88:7ea4f131-8430-49e9-9662-00ef51050f16 (3 pp) to group 4, current count: 83, quota left: 95
Assigning team 295:fa25960f-9422-4426-8cfe-1550f9cbc44d (2 pp) to group 4, current count: 85, quota left: 93
Assigning team 227:12647cb3-c540-4e49-ba87-6724f6b1117c (2 pp) to group 4, current count: 87, quota left: 91
Assigning team 198:60657fdc-a062-490d-a243-2bf0af5b8623 (1 pp) to group 4, current count: 88, quota left: 90
Assigning team 650:77b3a72b-fd79-4d5b-9537-2ad7df143cbd (1 pp) to group 4, current count: 89, quota left: 89
Assigning team 160:3acd8b64-7620-46c9-80b7-9831d3395cd0 (1 pp) to group 4, current count: 90, quota left: 88
Assigning team 652:a110e189-88aa-44ce-866e-3e87b9b1e61c (1 pp) to group 4, current count: 91, quota left: 87
Assigning team 644:0b713197-9e1e-44d6-86db-fb7141ac7e0b (1 pp) to group 4, current count: 92, quota left: 86
Assigning team 260:aff67ec9-f15c-4e60-a78e-a2592a1afbf3 (3 pp) to group 4, current count: 95, quota left: 83
Assigning team 579:903a25fd-7a6f-4476-9447-75fc3da46159 (1 pp) to group 4, current count: 96, quota left: 82
Assigning team 79:6f383bb0-4f84-4984-904f-ae23d8dc38a4 (1 pp) to group 4, current count: 97, quota left: 81
Assigning team 375:bbffe63d-751b-41a8-8c5b-d6f42c614d6f (1 pp) to group 4, current count: 98, quota left: 80
Assigning team 221:5a998abe-1db1-4007-8e2d-2b4b063312fb (1 pp) to group 4, current count: 99, quota left: 79
Assigning team 355:befadb0d-6b82-4524-9a4c-e562d1f513f3 (2 pp) to group 4, current count: 101, quota left: 77
Assigning team 169:95855f21-7ffe-4369-8d2b-522e71f7e818 (1 pp) to group 4, current count: 102, quota left: 76
Assigning team 284:e8bf1d62-7f81-47b4-a4a2-9bee6f8c2246 (1 pp) to group 4, current count: 103, quota left: 75
Assigning team 337:b2c66ad0-1ef5-4fb4-97ff-271feb7b5b8c (2 pp) to group 4, current count: 105, quota left: 73
Assigning team 409:05d2be31-5e7b-43d3-a17d-232f50043f77 (1 pp) to group 4, current count: 106, quota left: 72
Assigning team 106:4ed4a2bf-89d3-41d3-86d4-977fb086c55e (1 pp) to group 4, current count: 107, quota left: 71
Assigning team 413:cbd28915-d720-494b-beda-4c46e2740008 (1 pp) to group 4, current count: 108, quota left: 70
Assigning team 442:036cd751-d736-42a1-b88f-10d008271f03 (3 pp) to group 4, current count: 111, quota left: 67
Assigning team 318:78308269-987b-4cd0-a287-104c93fe7180 (1 pp) to group 4, current count: 112, quota left: 66
Assigning team 606:4fe5cd8f-9577-4bee-beea-dfee1b6a42a5 (1 pp) to group 4, current count: 113, quota left: 65
Assigning team 637:e023a923-c765-4658-b458-aa08192e785f (1 pp) to group 4, current count: 114, quota left: 64
Assigning team 102:0c5f317c-34c7-4f44-b41a-845f80bda673 (1 pp) to group 4, current count: 115, quota left: 63
Assigning team 476:b4060702-5f25-4cbd-b5ab-e25385a73fa9 (1 pp) to group 4, current count: 116, quota left: 62
Assigning team 623:7990ed7f-caa2-49f1-aced-fa13016f66ff (1 pp) to group 4, current count: 117, quota left: 61

,id,group_pref,member_count,group_order_1,group_order_2,group_order_3,group_order_4,group_order_5,group_order_6,result
0,ec3766c1-b3ee-4873-9048-b7f7fa17ceba,"6,1,3,5,7,4",2,6,1,3,5,7,4,6
1,738b973c-4cbf-4125-b50e-bcc98f89f77a,"6,1,3,7,4,5",2,6,1,3,7,4,5,6
2,a394c8ef-98d7-49b5-beb3-652b08cd6482,"4,3,6,7,1,5",1,4,3,6,7,1,5,4
3,3620b751-1dcc-4305-8871-b897947ba300,"3,4,7,1,6,5",1,3,4,7,1,6,5,3
4,5602bd74-811a-4e99-9708-179254d9f090,"3,6,7,1,4,5",2,3,6,7,1,4,5,3
...,...,...,...,...,...,...,...,...,...,...
648,959f881a-310f-4e23-b715-1cef16e97869,"3,4,1,5,7,6",1,3,4,1,5,7,6,3
649,b7edde69-726b-4e09-a6c3-9d9b95fd9b4a,"6,5,7,1,3,4",1,6,5,7,1,3,4,None
650,77b3a72b-fd79-4d5b-9537-2ad7df143cbd,"4,6,3,1,7,5",1,4,6,3,1,7,5,4
651,1abaf1d3-b2df-46eb-8ed2-652e98151862,"4,1,6,3,7,5",1,4,1,6,3,7,5,4
652,a110e189-88aa-44ce-866e-3e87b9b1e61c,"4,3,5,6,1,7",1,4,3,5,6,1,7,4

# รอบ 2

In [21]:
# เราจัดการการเลือกอันดับ 1 เสร็จแล้ว ทีนี้จัดคนไม่มีกลุ่มไปที่กลุ่มอันดับ 2 ที่เลือกไว้

for group in GROUPS:
    print("="*80)
    # check if group is already filled to the quota already
    if df[df["result"] == group]["member_count"].sum() > GROUP_QUOTA:
        print(f"Group {group} is already filled to the quota, skipping")
        continue
    print(f"Processing group {group} for second order assignment")
    # get teams that have group_order_2 as group and not assigned to any group yet
    df_teams_with_group_second_order = df[(df["group_order_2"] == group) & (df["result"].isnull())]
    # shuffle row order
    df_teams_with_group_second_order = df_teams_with_group_second_order.sample(frac=1)
    current_students_count = df[df["result"] == group]["member_count"].sum()
    for index, row in df_teams_with_group_second_order.iterrows():
        if current_students_count < GROUP_QUOTA:
            df.at[index, "result"] = group
            current_students_count += row["member_count"]
            print(
                f"Assigning team {index}:{row['id']} ({row['member_count']} pp) to group {group}, current count: {current_students_count}, quota left: {GROUP_QUOTA - current_students_count}")
        else:
            print(f"Group {group} has reached quota, stop assigning")
            break

unassigned_teams = df[df["result"].isnull()]
if not unassigned_teams.empty:
    print(f"There are {unassigned_teams.shape[0]} teams left unassigned.")
else:
    print("All teams have been assigned to groups.")
    
df

================================================================================
Processing group 1 for second order assignment
Assigning team 436:37e71c5b-ba0b-4f02-ae2b-16bed9e19482 (1 pp) to group 1, current count: 75, quota left: 103
Assigning team 291:bf6b5792-18a2-478d-94c6-a7914a3b2ccf (1 pp) to group 1, current count: 76, quota left: 102
Assigning team 560:d24c3607-2891-46d4-8c48-776a7b049798 (1 pp) to group 1, current count: 77, quota left: 101
Assigning team 262:f8696c9f-f125-40d4-81c3-32aa2eb9a8aa (1 pp) to group 1, current count: 78, quota left: 100
Assigning team 314:cddd66fd-d36e-49cf-a6a0-6d21d5eaacf6 (1 pp) to group 1, current count: 79, quota left: 99
Assigning team 56:f8d0c839-7ba2-437c-a3fe-8b3584f2e114 (1 pp) to group 1, current count: 80, quota left: 98
Assigning team 145:ae2be29f-fb2d-4772-9fe7-2c6c66e2703b (3 pp) to group 1, current count: 83, quota left: 95
Assigning team 201:560f9771-4a92-496d-ba38-184867680c46 (3 pp) to group 1, current count: 86, quota left: 92
Assigning team 497:b2e7c371-fd5d-4547-85d6-9f0ebf5e0b12 (1 pp) to group 1, current count: 87, quota left: 91
Assigning team 396:99723f7a-309e-43e9-833e-346437f1994e (1 pp) to group 1, current count: 88, quota left: 90
Assigning team 349:e9903d71-3802-47a9-99c6-7a4d4a555774 (2 pp) to group 1, current count: 90, quota left: 88
Assigning team 187:daa3ae11-9e54-4449-a061-6722c358b3ef (1 pp) to group 1, current count: 91, quota left: 87
================================================================================
Group 3 is already filled to the quota, skipping
================================================================================
Group 4 is already filled to the quota, skipping
================================================================================
Processing group 5 for second order assignment
Assigning team 468:1f778f16-4b0d-4054-b81b-0344f104660b (1 pp) to group 5, current count: 56, quota left: 122
Assigning team 600:ec5d9bed-4174-443c-96e8-2dc0b78aad16 (3 pp) to group 5, current count: 59, quota left: 119
Assigning team 13:025c18bc-9e5c-48d8-b988-55d02fc240df (1 pp) to group 5, current count: 60, quota left: 118
Assigning team 71:19e82d4c-672f-4600-9887-85f2551cf8ae (1 pp) to group 5, current count: 61, quota left: 117
Assigning team 52:e0497afb-9f60-4cf6-b5c8-f109ed8d0512 (1 pp) to group 5, current count: 62, quota left: 116
Assigning team 174:338b2122-4479-4ce0-b15f-a1ef78c22428 (1 pp) to group 5, current count: 63, quota left: 115
Assigning team 649:b7edde69-726b-4e09-a6c3-9d9b95fd9b4a (1 pp) to group 5, current count: 64, quota left: 114
Assigning team 347:5f3f7bcc-0a2c-40bd-a188-885df387804f (1 pp) to group 5, current count: 65, quota left: 113
Assigning team 354:1225f8ad-5725-4445-a2bf-16457a156845 (1 pp) to group 5, current count: 66, quota left: 112
Assigning team 616:eae11bbf-94bc-4634-bb48-8efce69fe161 (1 pp) to group 5, current count: 67, quota left: 111
Assigning team 238:4ca118fe-89c1-46ff-a4a3-135d58ac3698 (1 pp) to group 5, current count: 68, quota left: 110
Assigning team 583:37a97aa6-e007-4cf5-b6d9-6d1201f199f8 (1 pp) to group 5, current count: 69, quota left: 109
Assigning team 481:cd62df17-d3dd-4ad2-9349-e5dfe2a1c6b1 (3 pp) to group 5, current count: 72, quota left: 106
Assigning team 512:c990ad30-eeeb-43ba-9cb0-dbdcea05fbb3 (1 pp) to group 5, current count: 73, quota left: 105
Assigning team 125:6f4716cc-47f3-4b24-a9db-b779d54b9b12 (1 pp) to group 5, current count: 74, quota left: 104
Assigning team 287:c3f2051e-5241-4bad-b915-75e3f5af858a (1 pp) to group 5, current count: 75, quota left: 103
================================================================================
Group 6 is already filled to the quota, skipping
================================================================================
Processing group 7 for second order assignment
Assigning team 133:a0d439a8-016c-4376-bb5c-b4dc9a4b9e72 (2 pp) to group 7, current count: 168, quota left: 10
Assigning team 341:2c64e832-307a-46ab-ad3e-85bc5145aae4 (1 pp) to group 7, current count: 169, quota left: 9
Assigning team 108:f2d76d5b-a6b6-4e89-a3c7-01fe0bde6e3e (1 pp) to group 7, current count: 170, quota left: 8
Assigning team 567:95e2818f-d12d-43c1-b19b-fe52b92c6d94 (3 pp) to group 7, current count: 173, quota left: 5
Assigning team 561:23ff0f90-ace4-4be7-bbff-464d08e242b6 (1 pp) to group 7, current count: 174, quota left: 4
Assigning team 57:61a92c28-ebe9-4be9-a4a5-ba5311238d19 (3 pp) to group 7, current count: 177, quota left: 1
Assigning team 307:8fd38984-2bf0-4a12-9bfa-ca41eea92c6e (1 pp) to group 7, current count: 178, quota left: 0
Group 7 has reached quota, stop assigning
There are 119 teams left unassigned.

,id,group_pref,member_count,group_order_1,group_order_2,group_order_3,group_order_4,group_order_5,group_order_6,result
0,ec3766c1-b3ee-4873-9048-b7f7fa17ceba,"6,1,3,5,7,4",2,6,1,3,5,7,4,6
1,738b973c-4cbf-4125-b50e-bcc98f89f77a,"6,1,3,7,4,5",2,6,1,3,7,4,5,6
2,a394c8ef-98d7-49b5-beb3-652b08cd6482,"4,3,6,7,1,5",1,4,3,6,7,1,5,4
3,3620b751-1dcc-4305-8871-b897947ba300,"3,4,7,1,6,5",1,3,4,7,1,6,5,3
4,5602bd74-811a-4e99-9708-179254d9f090,"3,6,7,1,4,5",2,3,6,7,1,4,5,3
...,...,...,...,...,...,...,...,...,...,...
648,959f881a-310f-4e23-b715-1cef16e97869,"3,4,1,5,7,6",1,3,4,1,5,7,6,3
649,b7edde69-726b-4e09-a6c3-9d9b95fd9b4a,"6,5,7,1,3,4",1,6,5,7,1,3,4,5
650,77b3a72b-fd79-4d5b-9537-2ad7df143cbd,"4,6,3,1,7,5",1,4,6,3,1,7,5,4
651,1abaf1d3-b2df-46eb-8ed2-652e98151862,"4,1,6,3,7,5",1,4,1,6,3,7,5,4
652,a110e189-88aa-44ce-866e-3e87b9b1e61c,"4,3,5,6,1,7",1,4,3,5,6,1,7,4

# รอบ 3

In [22]:
for group in GROUPS:
    print("="*80)
    # check if group is already filled to the quota already
    if df[df["result"] == group]["member_count"].sum() > GROUP_QUOTA:
        print(f"Group {group} is already filled to the quota, skipping")
        continue
    print(f"Processing group {group} for third order assignment")
    # get teams that have group_order_3 as group and not assigned to any group yet
    df_teams_with_group_third_order = df[(
        df["group_order_3"] == group) & (df["result"].isnull())]
    # shuffle row order
    df_teams_with_group_third_order = df_teams_with_group_third_order.sample(
        frac=1)
    current_students_count = df[df["result"] == group]["member_count"].sum()
    for index, row in df_teams_with_group_third_order.iterrows():
        if current_students_count < GROUP_QUOTA:
            df.at[index, "result"] = group
            current_students_count += row["member_count"]
            print(
                f"Assigning team {index}:{row['id']} ({row['member_count']} pp) to group {group}, current count: {current_students_count}, quota left: {GROUP_QUOTA - current_students_count}")
        else:
            print(f"Group {group} has reached quota, stop assigning")
            break

unassigned_teams = df[df["result"].isnull()]
if not unassigned_teams.empty:
    print(f"There are {unassigned_teams.shape[0]} teams left unassigned.")
else:
    print("All teams have been assigned to groups.")

df

================================================================================
Processing group 1 for third order assignment
Assigning team 338:0b69fba6-a1e2-41df-aeab-2b0db2b0e3f2 (1 pp) to group 1, current count: 92, quota left: 86
Assigning team 282:8eb1f3f1-d6b2-4423-84b3-affd6805a3c2 (2 pp) to group 1, current count: 94, quota left: 84
Assigning team 639:60548c20-2fe5-4d89-aee4-5fbc12802bd5 (1 pp) to group 1, current count: 95, quota left: 83
Assigning team 39:f5416098-74f7-4b81-86d5-2c584da2a44b (2 pp) to group 1, current count: 97, quota left: 81
Assigning team 11:d6381cb3-8a50-4916-a9fe-6d03c31c11c4 (2 pp) to group 1, current count: 99, quota left: 79
Assigning team 161:cb9bbb86-5180-4b05-8e46-81b425c65cdd (2 pp) to group 1, current count: 101, quota left: 77
Assigning team 199:71a20e2a-5751-4c9d-a465-8a05a8f38200 (1 pp) to group 1, current count: 102, quota left: 76
Assigning team 257:cdfebcd0-fa5c-42bb-abb8-3dca7e93601b (3 pp) to group 1, current count: 105, quota left: 73
Assigning team 368:fdd80e55-7d7a-4298-9427-8bc25b7bfec3 (1 pp) to group 1, current count: 106, quota left: 72
Assigning team 520:e51b15ec-b4a5-4101-8768-5090ff326cfa (1 pp) to group 1, current count: 107, quota left: 71
Assigning team 449:29736b1b-45a3-4217-87de-bc82814cbeab (1 pp) to group 1, current count: 108, quota left: 70
Assigning team 441:f7342453-0d94-4ffe-b9ed-d64a1d8f3a8c (1 pp) to group 1, current count: 109, quota left: 69
Assigning team 217:0e0cc7d0-3c0d-4961-a4d5-72f6bbb5460d (1 pp) to group 1, current count: 110, quota left: 68
Assigning team 151:fab6474e-7e94-43ed-8ae3-39a822714cfc (3 pp) to group 1, current count: 113, quota left: 65
Assigning team 200:24ef1462-e3d9-49f2-b968-3a8de96a5b73 (1 pp) to group 1, current count: 114, quota left: 64
Assigning team 114:9c940849-a3df-4aa8-9b36-cbda7f90e5c0 (1 pp) to group 1, current count: 115, quota left: 63
Assigning team 62:39ad7b91-fad6-4298-a916-b0babc0ec9d1 (1 pp) to group 1, current count: 116, quota left: 62
Assigning team 503:51418041-46fc-43b0-b776-f0d165065711 (1 pp) to group 1, current count: 117, quota left: 61
Assigning team 299:cd74fb62-7631-4bd0-95e0-549483343095 (1 pp) to group 1, current count: 118, quota left: 60
Assigning team 557:c5cd4552-fb8f-45b3-9d59-d14e7757af9f (1 pp) to group 1, current count: 119, quota left: 59
Assigning team 152:fdb45a58-17d0-4878-b4b2-54e12d2e1414 (2 pp) to group 1, current count: 121, quota left: 57
Assigning team 242:f42536c4-6a2a-433d-9004-f2ea132fff0c (3 pp) to group 1, current count: 124, quota left: 54
Assigning team 462:7c89c071-355f-4482-a767-f15988dec1c4 (1 pp) to group 1, current count: 125, quota left: 53
Assigning team 55:eb0b9f6f-d18e-4b4c-b797-14885e2e5a24 (1 pp) to group 1, current count: 126, quota left: 52
Assigning team 452:7d87141d-3edf-4901-b734-1847c0494c54 (1 pp) to group 1, current count: 127, quota left: 51
Assigning team 360:39f6c4b2-68c6-48a4-a273-6d64c89119b0 (1 pp) to group 1, current count: 128, quota left: 50
Assigning team 527:98e9cb9a-e420-4dfd-bd54-c92b0094c1fa (1 pp) to group 1, current count: 129, quota left: 49
Assigning team 69:32552b5a-ce9c-46f8-8a50-bec168068e4d (2 pp) to group 1, current count: 131, quota left: 47
Assigning team 91:13c44cbb-3f34-4aab-b606-03e4b6c208a2 (3 pp) to group 1, current count: 134, quota left: 44
Assigning team 445:82f143d7-0247-4187-b5bc-44d212131d35 (1 pp) to group 1, current count: 135, quota left: 43
================================================================================
Group 3 is already filled to the quota, skipping
================================================================================
Group 4 is already filled to the quota, skipping
================================================================================
Processing group 5 for third order assignment
Assigning team 573:1e5baebf-20e9-4bdd-8193-5806dbd35d53 (1 pp) to group 5, current count: 76, quota left: 102
Assigning team 475:1bbc6996-a342-4c67-ab40-f0ae8a6bcc07 (1 pp) to group 5, current count: 77, quota left: 101
Assigning team 248:7d1db2db-9541-4ee5-a372-512a684cc616 (3 pp) to group 5, current count: 80, quota left: 98
Assigning team 192:11353237-bf20-4f97-9d1a-367ee20ef657 (3 pp) to group 5, current count: 83, quota left: 95
Assigning team 203:431298ff-3445-4dde-a7d3-4cb3d98a6e4e (1 pp) to group 5, current count: 84, quota left: 94
Assigning team 156:6a0a6dfa-69fd-4364-ade3-c58a782506b9 (1 pp) to group 5, current count: 85, quota left: 93
Assigning team 634:94e13198-a29b-483d-9944-c0515b43e115 (1 pp) to group 5, current count: 86, quota left: 92
Assigning team 477:c500f9f5-049c-4374-8e18-22b68922bd81 (1 pp) to group 5, current count: 87, quota left: 91
Assigning team 490:39490782-b194-4f59-8bf6-f7e45fca0865 (1 pp) to group 5, current count: 88, quota left: 90
Assigning team 363:b0ce5693-dd9d-45cf-a8e9-1a38cd754236 (1 pp) to group 5, current count: 89, quota left: 89
Assigning team 588:32473861-e193-4c6d-8b9d-60007aa805c9 (2 pp) to group 5, current count: 91, quota left: 87
Assigning team 89:6b554aba-6882-4959-be5a-ade69d45a66b (2 pp) to group 5, current count: 93, quota left: 85
Assigning team 491:231eaff8-3256-45f5-956f-a74d15057ae0 (1 pp) to group 5, current count: 94, quota left: 84
Assigning team 615:8974ce68-7e4e-455c-bc72-dcf3b6d8dffe (2 pp) to group 5, current count: 96, quota left: 82
Assigning team 357:6600585c-d7c4-4ddb-80c1-ccd12c466cf6 (1 pp) to group 5, current count: 97, quota left: 81
Assigning team 398:46f82cfe-c19e-4d7b-a84d-d1f7f58147b6 (3 pp) to group 5, current count: 100, quota left: 78
Assigning team 422:0dcb7315-918c-4fd8-85ac-f8f28b8114d1 (1 pp) to group 5, current count: 101, quota left: 77
Assigning team 188:0be395bc-58f6-4cf7-8945-ff64e861406c (1 pp) to group 5, current count: 102, quota left: 76
Assigning team 494:188286e0-e393-41bb-a3b6-1f187e604eba (1 pp) to group 5, current count: 103, quota left: 75
Assigning team 495:6358813b-44e4-4fe1-84f2-e95284e4ce91 (1 pp) to group 5, current count: 104, quota left: 74
Assigning team 568:10884c79-3850-4735-b11d-49c807860360 (1 pp) to group 5, current count: 105, quota left: 73
Assigning team 581:73af7c70-d9b4-4d87-9340-3b82cf0c0036 (2 pp) to group 5, current count: 107, quota left: 71
Assigning team 485:316940b8-b9db-4bb7-9cef-6eb08e2838ea (1 pp) to group 5, current count: 108, quota left: 70
================================================================================
Group 6 is already filled to the quota, skipping
================================================================================
Processing group 7 for third order assignment
Group 7 has reached quota, stop assigning
There are 66 teams left unassigned.

,id,group_pref,member_count,group_order_1,group_order_2,group_order_3,group_order_4,group_order_5,group_order_6,result
0,ec3766c1-b3ee-4873-9048-b7f7fa17ceba,"6,1,3,5,7,4",2,6,1,3,5,7,4,6
1,738b973c-4cbf-4125-b50e-bcc98f89f77a,"6,1,3,7,4,5",2,6,1,3,7,4,5,6
2,a394c8ef-98d7-49b5-beb3-652b08cd6482,"4,3,6,7,1,5",1,4,3,6,7,1,5,4
3,3620b751-1dcc-4305-8871-b897947ba300,"3,4,7,1,6,5",1,3,4,7,1,6,5,3
4,5602bd74-811a-4e99-9708-179254d9f090,"3,6,7,1,4,5",2,3,6,7,1,4,5,3
...,...,...,...,...,...,...,...,...,...,...
648,959f881a-310f-4e23-b715-1cef16e97869,"3,4,1,5,7,6",1,3,4,1,5,7,6,3
649,b7edde69-726b-4e09-a6c3-9d9b95fd9b4a,"6,5,7,1,3,4",1,6,5,7,1,3,4,5
650,77b3a72b-fd79-4d5b-9537-2ad7df143cbd,"4,6,3,1,7,5",1,4,6,3,1,7,5,4
651,1abaf1d3-b2df-46eb-8ed2-652e98151862,"4,1,6,3,7,5",1,4,1,6,3,7,5,4
652,a110e189-88aa-44ce-866e-3e87b9b1e61c,"4,3,5,6,1,7",1,4,3,5,6,1,7,4

# รอบ 4

In [23]:
for group in GROUPS:
    print("="*80)
    # check if group is already filled to the quota already
    if df[df["result"] == group]["member_count"].sum() > GROUP_QUOTA:
        print(f"Group {group} is already filled to the quota, skipping")
        continue
    print(f"Processing group {group} for fourth order assignment")
    # get teams that have group_order_4 as group and not assigned to any group yet
    df_teams_with_group_fourth_order = df[(
        df["group_order_4"] == group) & (df["result"].isnull())]
    # shuffle row order
    df_teams_with_group_fourth_order = df_teams_with_group_fourth_order.sample(
        frac=1)
    current_students_count = df[df["result"] == group]["member_count"].sum()
    for index, row in df_teams_with_group_fourth_order.iterrows():
        if current_students_count < GROUP_QUOTA:
            df.at[index, "result"] = group
            current_students_count += row["member_count"]
            print(
                f"Assigning team {index}:{row['id']} ({row['member_count']} pp) to group {group}, current count: {current_students_count}, quota left: {GROUP_QUOTA - current_students_count}")
        else:
            print(f"Group {group} has reached quota, stop assigning")
            break

unassigned_teams = df[df["result"].isnull()]
if not unassigned_teams.empty:
    print(f"There are {unassigned_teams.shape[0]} teams left unassigned.")
else:
    print("All teams have been assigned to groups.")

df

================================================================================
Processing group 1 for fourth order assignment
Assigning team 317:eae3f053-bc30-4308-90b1-24b0987fc6e3 (3 pp) to group 1, current count: 138, quota left: 40
Assigning team 208:fc744575-6b76-4c0f-82e8-4a55f54358c3 (1 pp) to group 1, current count: 139, quota left: 39
Assigning team 466:92b6a231-f5eb-49eb-91ee-e491257c997c (3 pp) to group 1, current count: 142, quota left: 36
Assigning team 498:2a9cafab-1e50-4f48-9da3-fde0db5d9434 (1 pp) to group 1, current count: 143, quota left: 35
Assigning team 131:849d99c3-b6f7-41a8-9102-bf6c6e8e5eed (2 pp) to group 1, current count: 145, quota left: 33
Assigning team 511:e00b10f5-3f60-48de-ac18-5b387137b8a8 (2 pp) to group 1, current count: 147, quota left: 31
Assigning team 26:186b25da-ff0d-4dde-b534-357070d412ea (3 pp) to group 1, current count: 150, quota left: 28
Assigning team 523:06373a73-a085-4da4-b6e0-7e3b205413ed (1 pp) to group 1, current count: 151, quota left: 27
Assigning team 118:7d0595b3-9ccf-49ce-9ca7-62a261f59f22 (1 pp) to group 1, current count: 152, quota left: 26
Assigning team 34:7dae2719-2d5e-40aa-88c2-0ee3c7f749aa (1 pp) to group 1, current count: 153, quota left: 25
Assigning team 70:80d40059-0d7c-4445-be5c-595c35d24370 (1 pp) to group 1, current count: 154, quota left: 24
Assigning team 592:cf6f40ad-d87c-4ad9-b446-ff705f8660cf (1 pp) to group 1, current count: 155, quota left: 23
Assigning team 24:0cfcf11b-22d5-4120-85ab-1ca19657da80 (1 pp) to group 1, current count: 156, quota left: 22
Assigning team 504:53c3f6bb-9e08-4c68-8a17-86121e1e0dda (1 pp) to group 1, current count: 157, quota left: 21
Assigning team 17:00002928-50a2-49dc-bfd7-65bb78b234d6 (1 pp) to group 1, current count: 158, quota left: 20
Assigning team 197:b3292daa-2d10-4101-b2cb-a898888fd37b (3 pp) to group 1, current count: 161, quota left: 17
Assigning team 146:83baa4c6-4f45-484e-ae2c-c46f7cb8680f (2 pp) to group 1, current count: 163, quota left: 15
Assigning team 437:16844520-3745-43ca-8ea3-8b87f03bf16d (1 pp) to group 1, current count: 164, quota left: 14
Assigning team 329:aeb54db1-02f5-4a0c-9578-72dcc7e97d8d (1 pp) to group 1, current count: 165, quota left: 13
Assigning team 598:e89e82df-ac04-43af-a494-03b1b6f9a12c (3 pp) to group 1, current count: 168, quota left: 10
Assigning team 622:f5227649-2aa7-4181-bdca-82ff1e962a89 (2 pp) to group 1, current count: 170, quota left: 8
Assigning team 501:e5b397d4-7a05-4706-996a-6379cbc7a2f3 (2 pp) to group 1, current count: 172, quota left: 6
Assigning team 292:6053370a-7ee5-41e7-90c5-e41cdf3e74af (2 pp) to group 1, current count: 174, quota left: 4
================================================================================
Group 3 is already filled to the quota, skipping
================================================================================
Group 4 is already filled to the quota, skipping
================================================================================
Processing group 5 for fourth order assignment
Assigning team 429:56d9b660-e960-40bb-a028-0fc63aa70357 (1 pp) to group 5, current count: 109, quota left: 69
Assigning team 120:3253d618-facb-48f8-ba4b-614cdd931c28 (1 pp) to group 5, current count: 110, quota left: 68
Assigning team 438:0e9a167e-3594-4fc7-a758-174e25040340 (1 pp) to group 5, current count: 111, quota left: 67
Assigning team 63:3c66cd73-f3db-4e96-8a5a-402326a74f15 (1 pp) to group 5, current count: 112, quota left: 66
Assigning team 127:c17a7cb3-1f02-4ae5-8dd9-f1023e078893 (1 pp) to group 5, current count: 113, quota left: 65
Assigning team 587:feb92952-bae6-43d7-ac25-c9e1e248833e (3 pp) to group 5, current count: 116, quota left: 62
Assigning team 331:203d0e7b-10c3-43d8-a32b-b4f8944108b9 (1 pp) to group 5, current count: 117, quota left: 61
Assigning team 407:a6940454-46ee-466d-a77b-f827da8193f1 (1 pp) to group 5, current count: 118, quota left: 60
Assigning team 348:e2f9351c-8826-4616-a71d-7f41505b307b (2 pp) to group 5, current count: 120, quota left: 58
Assigning team 58:86252ada-0a82-4107-aa85-110419e5f93a (3 pp) to group 5, current count: 123, quota left: 55
Assigning team 182:074d7ac9-a210-4750-8b9c-4de69ee1fb8a (3 pp) to group 5, current count: 126, quota left: 52
Assigning team 303:0560a7c0-ffbc-4e7a-b649-a92ca3961f39 (1 pp) to group 5, current count: 127, quota left: 51
Assigning team 270:eae9f06c-5035-4bab-8255-f6aab3365fd8 (3 pp) to group 5, current count: 130, quota left: 48
Assigning team 297:f1a281fe-4b5f-4bc2-b536-ddcf47a9b69d (2 pp) to group 5, current count: 132, quota left: 46
Assigning team 603:87ca5d94-40ec-46f6-aa93-1223eec13e46 (2 pp) to group 5, current count: 134, quota left: 44
Assigning team 225:ffc8ef22-765a-4d46-abca-c8b65a835a9c (1 pp) to group 5, current count: 135, quota left: 43
Assigning team 472:bb4195f0-b56b-4899-985f-acf51c5d03d6 (1 pp) to group 5, current count: 136, quota left: 42
================================================================================
Group 6 is already filled to the quota, skipping
================================================================================
Processing group 7 for fourth order assignment
Group 7 has reached quota, stop assigning
There are 26 teams left unassigned.

,id,group_pref,member_count,group_order_1,group_order_2,group_order_3,group_order_4,group_order_5,group_order_6,result
0,ec3766c1-b3ee-4873-9048-b7f7fa17ceba,"6,1,3,5,7,4",2,6,1,3,5,7,4,6
1,738b973c-4cbf-4125-b50e-bcc98f89f77a,"6,1,3,7,4,5",2,6,1,3,7,4,5,6
2,a394c8ef-98d7-49b5-beb3-652b08cd6482,"4,3,6,7,1,5",1,4,3,6,7,1,5,4
3,3620b751-1dcc-4305-8871-b897947ba300,"3,4,7,1,6,5",1,3,4,7,1,6,5,3
4,5602bd74-811a-4e99-9708-179254d9f090,"3,6,7,1,4,5",2,3,6,7,1,4,5,3
...,...,...,...,...,...,...,...,...,...,...
648,959f881a-310f-4e23-b715-1cef16e97869,"3,4,1,5,7,6",1,3,4,1,5,7,6,3
649,b7edde69-726b-4e09-a6c3-9d9b95fd9b4a,"6,5,7,1,3,4",1,6,5,7,1,3,4,5
650,77b3a72b-fd79-4d5b-9537-2ad7df143cbd,"4,6,3,1,7,5",1,4,6,3,1,7,5,4
651,1abaf1d3-b2df-46eb-8ed2-652e98151862,"4,1,6,3,7,5",1,4,1,6,3,7,5,4
652,a110e189-88aa-44ce-866e-3e87b9b1e61c,"4,3,5,6,1,7",1,4,3,5,6,1,7,4

# รอบ 5

In [24]:
for group in GROUPS:
    print("="*80)
    # check if group is already filled to the quota already
    if df[df["result"] == group]["member_count"].sum() > GROUP_QUOTA:
        print(f"Group {group} is already filled to the quota, skipping")
        continue
    print(f"Processing group {group} for fifth order assignment")
    # get teams that have group_order_5 as group and not assigned to any group yet
    df_teams_with_group_fifth_order = df[(
        df["group_order_5"] == group) & (df["result"].isnull())]
    # shuffle row order
    df_teams_with_group_fifth_order = df_teams_with_group_fifth_order.sample(
        frac=1)
    current_students_count = df[df["result"] == group]["member_count"].sum()
    for index, row in df_teams_with_group_fifth_order.iterrows():
        if current_students_count < GROUP_QUOTA:
            df.at[index, "result"] = group
            current_students_count += row["member_count"]
            print(
                f"Assigning team {index}:{row['id']} ({row['member_count']} pp) to group {group}, current count: {current_students_count}, quota left: {GROUP_QUOTA - current_students_count}")
        else:
            print(f"Group {group} has reached quota, stop assigning")
            break

unassigned_teams = df[df["result"].isnull()]
if not unassigned_teams.empty:
    print(f"There are {unassigned_teams.shape[0]} teams left unassigned.")
else:
    print("All teams have been assigned to groups.")

df

================================================================================
Processing group 1 for fifth order assignment
Assigning team 488:f603466f-a7c4-4489-9955-c17a633d5832 (1 pp) to group 1, current count: 175, quota left: 3
Assigning team 236:6d74378d-313d-44fe-a449-4e328a0ffa9b (3 pp) to group 1, current count: 178, quota left: 0
Group 1 has reached quota, stop assigning
================================================================================
Group 3 is already filled to the quota, skipping
================================================================================
Group 4 is already filled to the quota, skipping
================================================================================
Processing group 5 for fifth order assignment
Assigning team 381:1a77bd1a-5708-471f-8e40-37fa76eb6a74 (2 pp) to group 5, current count: 138, quota left: 40
Assigning team 496:e7938115-5d91-40c5-b2ea-a2b43c8f5a1b (2 pp) to group 5, current count: 140, quota left: 38
Assigning team 351:a6b72b6a-c11a-4591-adc3-9ce93863fab2 (1 pp) to group 5, current count: 141, quota left: 37
Assigning team 10:f9d30c30-90c7-429c-9e78-b50ac1bfad65 (1 pp) to group 5, current count: 142, quota left: 36
Assigning team 564:d3386941-1469-4cb3-80fe-841e570dc9c1 (1 pp) to group 5, current count: 143, quota left: 35
Assigning team 86:34afeae1-fa7d-4008-afee-718ff2f3c9d7 (3 pp) to group 5, current count: 146, quota left: 32
Assigning team 134:c96388f0-d808-4e51-a868-6f9ccf8fbde8 (2 pp) to group 5, current count: 148, quota left: 30
Assigning team 534:0181e1f7-88b6-4f59-a670-340aeaa0fb78 (1 pp) to group 5, current count: 149, quota left: 29
================================================================================
Group 6 is already filled to the quota, skipping
================================================================================
Processing group 7 for fifth order assignment
There are 16 teams left unassigned.

,id,group_pref,member_count,group_order_1,group_order_2,group_order_3,group_order_4,group_order_5,group_order_6,result
0,ec3766c1-b3ee-4873-9048-b7f7fa17ceba,"6,1,3,5,7,4",2,6,1,3,5,7,4,6
1,738b973c-4cbf-4125-b50e-bcc98f89f77a,"6,1,3,7,4,5",2,6,1,3,7,4,5,6
2,a394c8ef-98d7-49b5-beb3-652b08cd6482,"4,3,6,7,1,5",1,4,3,6,7,1,5,4
3,3620b751-1dcc-4305-8871-b897947ba300,"3,4,7,1,6,5",1,3,4,7,1,6,5,3
4,5602bd74-811a-4e99-9708-179254d9f090,"3,6,7,1,4,5",2,3,6,7,1,4,5,3
...,...,...,...,...,...,...,...,...,...,...
648,959f881a-310f-4e23-b715-1cef16e97869,"3,4,1,5,7,6",1,3,4,1,5,7,6,3
649,b7edde69-726b-4e09-a6c3-9d9b95fd9b4a,"6,5,7,1,3,4",1,6,5,7,1,3,4,5
650,77b3a72b-fd79-4d5b-9537-2ad7df143cbd,"4,6,3,1,7,5",1,4,6,3,1,7,5,4
651,1abaf1d3-b2df-46eb-8ed2-652e98151862,"4,1,6,3,7,5",1,4,1,6,3,7,5,4
652,a110e189-88aa-44ce-866e-3e87b9b1e61c,"4,3,5,6,1,7",1,4,3,5,6,1,7,4

# รอบ 6

In [25]:
for group in GROUPS:
    print("="*80)
    # check if group is already filled to the quota already
    if df[df["result"] == group]["member_count"].sum() > GROUP_QUOTA:
        print(f"Group {group} is already filled to the quota, skipping")
        continue
    print(f"Processing group {group} for sixth order assignment")
    # get teams that have group_order_6 as group and not assigned to any group yet
    df_teams_with_group_sixth_order = df[(
        df["group_order_6"] == group) & (df["result"].isnull())]
    # shuffle row order
    df_teams_with_group_sixth_order = df_teams_with_group_sixth_order.sample(
        frac=1)
    current_students_count = df[df["result"] == group]["member_count"].sum()
    for index, row in df_teams_with_group_sixth_order.iterrows():
        if current_students_count < GROUP_QUOTA:
            df.at[index, "result"] = group
            current_students_count += row["member_count"]
            print(
                f"Assigning team {index}:{row['id']} ({row['member_count']} pp) to group {group}, current count: {current_students_count}, quota left: {GROUP_QUOTA - current_students_count}")
        else:
            print(f"Group {group} has reached quota, stop assigning")
            break

unassigned_teams = df[df["result"].isnull()]
if not unassigned_teams.empty:
    print(f"There are {unassigned_teams.shape[0]} teams left unassigned.")
else:
    print("All teams have been assigned to groups.")

unassigned_teams

================================================================================
Processing group 1 for sixth order assignment
================================================================================
Group 3 is already filled to the quota, skipping
================================================================================
Group 4 is already filled to the quota, skipping
================================================================================
Processing group 5 for sixth order assignment
Assigning team 569:cce51d26-87b6-47db-981c-fdd6b68bfe9b (1 pp) to group 5, current count: 150, quota left: 28
Assigning team 267:a49c5fa2-43bc-41cb-9ffc-ce1c1dda9b85 (1 pp) to group 5, current count: 151, quota left: 27
Assigning team 31:6fc714cd-796d-4134-a00a-6383ff740829 (2 pp) to group 5, current count: 153, quota left: 25
Assigning team 67:479d27e9-6be1-4bd3-a55f-bdd83fb7ca1b (3 pp) to group 5, current count: 156, quota left: 22
Assigning team 537:fb690d4b-6c80-434a-9a0e-756640cf180f (3 pp) to group 5, current count: 159, quota left: 19
Assigning team 522:e0362d68-9b41-4dad-8d8d-f993facbd13d (1 pp) to group 5, current count: 160, quota left: 18
Assigning team 60:ca581fcc-6f3a-4ef4-83df-db8637c558da (3 pp) to group 5, current count: 163, quota left: 15
Assigning team 46:614c2c99-db75-4de1-aabd-39adb42a46f6 (1 pp) to group 5, current count: 164, quota left: 14
Assigning team 213:3900d2bb-6d98-485b-b2be-d742940b10ec (1 pp) to group 5, current count: 165, quota left: 13
Assigning team 332:e77465b8-4fcf-4a29-9ad6-ba3918442b2b (1 pp) to group 5, current count: 166, quota left: 12
Assigning team 515:5aee679e-1683-4c0b-9e20-cb5e3bcea7f8 (1 pp) to group 5, current count: 167, quota left: 11
Assigning team 463:8bddc1d1-64f7-42d6-a7a5-b4a1888b2b9d (1 pp) to group 5, current count: 168, quota left: 10
Assigning team 325:db1a738d-2a0a-4f8a-bb23-6186504a8435 (3 pp) to group 5, current count: 171, quota left: 7
Assigning team 229:4b0b03ec-c4d6-4e88-ad48-773e528fe6ff (2 pp) to group 5, current count: 173, quota left: 5
Assigning team 122:baa65360-a43c-47b2-a533-1bed7e9068ad (3 pp) to group 5, current count: 176, quota left: 2
Assigning team 100:a2a24c07-dc45-4dec-8192-ccca7f325e19 (1 pp) to group 5, current count: 177, quota left: 1
================================================================================
Group 6 is already filled to the quota, skipping
================================================================================
Processing group 7 for sixth order assignment
All teams have been assigned to groups.

Empty DataFrame
Columns: [id, group_pref, member_count, group_order_1, group_order_2, group_order_3, group_order_4, group_order_5, group_order_6, result]
Index: []

In [26]:
# สรุปจำนวนแต่ละ group
for group in GROUPS:
    print(f"Group {group} has {df[df['result'] == group].shape[0]} teams assigned, total students: {df[df['result'] == group]['member_count'].sum()}")

Group 1 has 110 teams assigned, total students: 178
Group 3 has 105 teams assigned, total students: 179
Group 4 has 114 teams assigned, total students: 179
Group 5 has 121 teams assigned, total students: 177
Group 6 has 97 teams assigned, total students: 179
Group 7 has 106 teams assigned, total students: 178

In [27]:
df.to_csv("../data/results_team_processed_with_groups.csv", index=False)